.background{
    display: flex;
    background-color: aliceblue;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.firstbox{
    display: flex;
   // border: solid rgb(0, 0, 0);
    background-color: white;
    width:75vh;
    height: 40vh;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    border-radius: 20px;
    padding-bottom: 1%;
}

.leftide{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: top;
    // border: solid black;
    width: 30vw;
    height: 20vh;
    padding-right: 5%;
  
}
.rightside{
    display: flex;
    // border: solid rgb(0, 0, 0);
    justify-content: right;
    flex-direction: column;
    padding-right: 1%;
    
}
.Email{
    display: flex;
    flex-direction: column;
    // border: solid black;
    width: 250px;
    justify-content: right;
    // margin-left: %;
    margin-top: 8%;
}
.Forget-Password{
    margin-top:0;
    margin-left: 20%;
}

.security{
    margin-left: 20%;
    // padding-bottom: 3vh;
}
.create-btn{
    display: flex;
    justify-content: right;
}
.next-btn{
    margin-left: 15px;
    border-radius: 20px;
    width: 75px;
}
// .inside-security{
//     color: blue;
    
// }
.sign{
    margin-top: 10px;
    font-size: 20px;
}

.enter{
    font-size: 15px;
}
// .emailbox{
//     width: 20px;
// }