<div class="background">
    <div class="firstbox">
      <div class="leftide">
        <div>
          <img src="assets\gicon.png" alt="logo" width="30px">
        </div>
        <div class="sign">
          <p>Forgot Password</p>
        </div>
        <div>
          <p>Account Recovery</p>
        </div>
      </div>
      <div class="rightside"> 
        <form [formGroup]="ForgotForms">
          <div class="Email">
            <p class="enter">Enter the Email</p>
            <mat-form-field class="emailbox" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="Email">
            <mat-error *ngIf="ForgotForms.hasError('required','Email')">
              Email is Required!
            </mat-error>
            <mat-error *ngIf="ForgotForms.hasError('email','Email')">
              Email is invalid!
            </mat-error>
            </mat-form-field>
            <!-- <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password">
            </mat-form-field>    -->
          </div> 
        </form>
        <!-- <div class="Forget-Password">
          <button mat-button color="primary">Forget Password?</button>
        </div> -->
        <!-- <div class="security">
          <p>Not your computer? Use Guest mode to sign in privately.<span class="inside-security">Learn more about using Guest mode</span></p>
        </div> -->
        <div class="create-btn">
          <div>
              <!-- <button mat-button color="primary">Create account</button> -->
              <button class="next-btn" mat-raised-button color="primary" (click)="ForgetOnSubmit()">Submit</button>
        </div>
        </div>
      </div>
    </div>
  </div>