<div class="outerbox">
    <div class="first">
    <button>
        <span class="material-symbols-outlined">
           
        </span>
    </button>
    <button>
        <img src="assets\keepicon.png" alt="">
    </button>
        <span class="keep">Fundo-Notes</span>
    </div>
    <div class="second">
       <button class="search-btn">
        <span class="material-symbols-outlined">
            search
        </span>
        </button>
        <input class="search-box" type="text"  placeholder="Search">
        <button class="close-btn">
        <span class="material-symbols-outlined">
            close
         </span>
        </button>
    </div>
    <div class="third">
        <button>
            <span class="material-symbols-outlined">
                refresh
                </span>
        </button>
        <button>
            <span class="material-symbols-outlined">
                view_agenda
                </span>
        </button>
        <button>
            <span class="material-symbols-outlined">
                settings
                </span>
        </button>
    </div>
    <div class="fourth">
        <button>
            <span class="material-symbols-outlined">
                apps
                </span>
        </button>
        <button>
            <span class="material-symbols-outlined">
                person
                </span>
        </button>
    </div>
</div>