<div class="background">
    <div class="firstbox">
      <div class="leftide">
        <div>
          <img src="assets/gicon.png" alt="logo" width="30px">
        </div>
        <div class="sign">
          <p>Reset Password</p>
        </div>
        
      </div>
      <div class="rightside"> 
        <form [formGroup]="resetform" (ngSubmit)="onSubmit()">
          <div class="Email">
            <mat-form-field appearance="outline" >
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="NewPassword" [type]="hidden?'password':'text'">
            <mat-error *ngIf="resetform.hasError('required','NewPassword')">
              Password is required
            </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm Password "formControlName="ConfirmPassword"  [type]="hidden?'password':'text'">
            <mat-error *ngIf="resetform.hasError('required','ConfirmPassword')">
              Password is required
            </mat-error>        
            </mat-form-field> 
            <mat-checkbox class="example-margin" (change)="hidden=!hidden">Show Password</mat-checkbox>  
          
          </div> 
        <!-- <div class="Forget-Password">
          <button mat-button color="primary">Forget Password?</button>
        </div>
        <div class="security">
          <p>Not your computer? Use Guest mode to sign in privately.<span class="inside-security">Learn more about using Guest mode</span></p>
        </div> -->
        <div class="create-btn">
          <div>
              <!-- <button mat-button color="primary">Create account</button> -->
              <button class="next-btn" mat-raised-button color="primary">change password</button>
        </div>
        </div>
      </form>
      </div>
    </div>

  </div>